<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<h3>Receitas destaque</h3>
<div id="recipes-featured">
  <% @featured_recipes.each do |recipe| %>
    <%= render partial: 'recipe_short', locals: {recipe: recipe} %>
  <% end %>
</div>

<h3>Outras receitas</h3>
<div id="other-recipes">
  <% @recipes.each do |recipe| %>
    <%= render partial: 'recipe_short', locals: {recipe: recipe} %>
  <% end %>
</div>
