  <h1>Usuários</h1>
  <div>
  <ul>
    <% for i in 0..@users.length-1 %>
      
     
           <li><%= link_to "#{@users[i].email}",  edit_user_registration_path %> <% if @users[i].admin%> admin <%else%>membro <% end %>  </li>
     
      
    <% end %>
    </ul>
  </div>
